<footer class="footer-bar">
	<nz-row nzGutter="[24, 24]">
		<nz-col nzSpan="4" nzOffset="1">
			<nz-row> © 2025 Zachary Ivars </nz-row>
		</nz-col>
		<nz-col nzSpan="5" nzOffset="14">
			<nz-row nzJustify="center"> <strong>Socials & Contacts</strong></nz-row>
			<nz-row>
				<nz-col nzSpan="3" nzOffset="8">
					<nz-row nzJustify="center">
						<a
							href="https://www.linkedin.com/in/zachary-ivars-b735242a8/"
							target="_blank">
							<i nz-icon nzType="linkedin" nzTheme="fill" class="icon"></i>
						</a>
					</nz-row>
				</nz-col>
				<nz-col nzSpan="3">
					<nz-row nzJustify="center">
						<a href="mailto:zacharyivars@icloud.com">
							<i nz-icon nzType="mail" nzTheme="fill" class="icon"></i>
						</a>
					</nz-row>
				</nz-col>
				<nz-col nzSpan="3">
					<nz-row nzJustify="center">
						<a href="tel:+330695003372">
							<i nz-icon nzType="phone" nzTheme="fill" class="icon"></i>
						</a>
					</nz-row>
				</nz-col>
			</nz-row>
		</nz-col>
	</nz-row>
</footer>
