<nz-row [nzGutter]="[24, 12]">
	<nz-col nzSpan="12">
		<nz-col nzSpan="24">
			<nz-row nzJustify="center" nzAlign="middle"> <h2>Past activities</h2> </nz-row>
		</nz-col>
		<nz-col nzSpan="18" nzOffset="3">
			<nz-card nzTitle="Archery 🏹"
				>I practiced archery for multiple years, participating in competitions and even
				acting as a co-trainer during most sessions. Every session I would come in advance
				to help set up the training grounds. I have some in depth knowledge about how to
				position yourself, how to shoot correctly, along with other necessary safety
				procedures.
				<br />
				I would also be the guine pig to try out different techniques to train and get
				better with certain positions.</nz-card
			>
			<nz-card nzTitle="Emmaüs 🧸"
				>I have previously helped out in an Emmaüs center in Rodez with my parents. On the
				Emmaüs grounds we each had to take of a shop. I was in charge of a toys and trinkets
				shop, trying to give a fair price for everything. It was very interesting, getting
				to meet a lot of new people with various backgrounds and pasts.</nz-card
			>
			<nz-card nzTitle="Various high school clubs 🐉 🍱"
				>In High School I was the co-founder of the Dungeons & Dragons club, the
				vice-president and the manager of the Manga/Anime club. I had learned vital
				management and professional communication skills in trying to market both clubs to
				get new members and keep both clubs alive. I was also the discord manager, taking
				care of the discord server to make sure that everything was in order and that
				communication and announcements were clear and understandable.</nz-card
			>
			<nz-card nzTitle="Student Council in High School 🔗"
				>In my last year of high school I was a member of the Student Council. It was an
				amazing experience, allowing me to understand the inner workings of an association,
				and participating in something bigger for the students. I would help organise
				different end of semester parties or different collects such as a toy collect for
				christmas to help other families in need, or in the selling of different sweatshirts
				to get new funds.
			</nz-card>
			<nz-card nzTitle="Foodbank 🥫"
				>I helped out in my local supermarket to start a food bank for a weekend, asking
				people as they were entering if it would be possible to participate and buy some
				food for those in need. We had gotten a good amount of food, being able to feed
				multiple families and help them get back on their feet.
			</nz-card>
		</nz-col>
	</nz-col>
	<nz-col nzSpan="12">
		<nz-col nzSpan="22" nzOffset="2">
			<nz-row nzJustify="center" nzAlign="middle">
				<h2>Current activities</h2>
			</nz-row>
		</nz-col>
		<nz-col nzSpan="18" nzOffset="4">
			<nz-card nzTitle="Cat foster home 🐈‍⬛"
				>I would like to participate and be a foster home for the association Musotopia.
				They have multiple cats, dogs and other animals in need of a place to stay while
				waiting to be adopted. My goals would be to take care of the cat(s) and give them a
				place to stay that isn't in the streets, shower them with love and affection, and
				take care of them until they find their forever home.</nz-card
			>
			<nz-card nzTitle="Volunteer for elderly aide 👴 👵 🧓"
				>I am currently living next to a retirement complexe, and so I would like to be able
				to help the association taking care of the elderly people by doing administrative
				work, or doing apartment tours for potential tenents.</nz-card
			>

			<nz-card nzTitle="Archery 🏹"
				>I would like to pick archery back up, and maybe pass different trainer formations
				in order to help out in a proper manner instead of being a psuedo co-trainer. I
				would currently like to go to the club situated near "Balma"</nz-card
			>
		</nz-col>
	</nz-col>
</nz-row>
