<nz-row nzGutter="[8, 12]">
	<nz-col [nzSpan]="13">
		<nz-row nzJustify="center">
			<img
				nz-image
				width="357"
				height="460"
				nzSrc="assets/images/stock_image_me.jpg"
				alt="" />
		</nz-row>
	</nz-col>
	<nz-col [nzSpan]="10">
		<h1 class="fancy-text">I am Zachary Ivars!</h1>
		<nz-divider></nz-divider>
		<p>
			My name is Zachary Ivars! I have an associates degree in computer science from the
			Blagnac Institute of Technology. I'm now following a
			<b>Computer Science and Networking</b> engineering degree at <b>ENSEEIHT</b>, a top
			ranking school in France based at Toulouse. I'm currently an
			<b>apprentice at Collins Aerospace</b>, an RTX industry. I'm hoping to learn as much as
			I can about the industry, and maybe find my place after my studies at Collins.
		</p>
		<!--
        
		<br />
		<p>Here in my portfolio you will find :</p>
		<ul>
            <li>
                different projects that I have worked on in a professional, personal and educational
				capacity.
			</li>
			<li>
                my different professiona. I had the wonderful opportunity to talk with various
				people in the IT field, and I have learned a various amount of things when speaking
				with them.
			</li>
			<li>
                various destinations that I would be interested to study in. While having a very
				international background and origins, I have become very curious with different
				cultures, especially those that don't ressemble Western European or American ones.
			</li>
			<li>
                my civic engagements, which I find is very important to vary and change up your
				daily routine. It helps me decompress and learn new things, along with interact with
				different people than my school and work life respectively.
			</li>
		</ul>
        -->
	</nz-col>
</nz-row>
